<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="IFS.Bankware.DAL" type="IFS.Bankware.DAL.Bases.NetTiersServiceSection, IFS.Bankware.DAL" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="IFS.AppsMngr.DAL" type="IFS.AppsMngr.DAL.Bases.NetTiersServiceSection, IFS.AppsMngr.DAL" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="BankwareAPIConfiguration" type="IFS.Common.ConfigSection.WebserviceClientConfigSection, IFS.Common" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IFS.Bankware.IBCHeartBeat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WindowServiceName" value="IBCHeartBeat" />
    <add key="ImportFileExtension" value="imp" />
    <add key="SWIFTInboundImportFileExtension" value="fin" />
    <add key="LanguageCulture" value="en-GB" />
    <add key="UseBBSImport" value="false" />
    <add key="UseSWIFTInboundImport" value="true" />
    <add key="FileSizeThreshold" value="500" />
    <!--KB-->
    <add key="ImportThreadCount" value="3" />
    <add key="ConnectAttempts" value="5" />
    <!-- Number of retry when reading a file that being use-->
    <add key="ReadingFileAttempts" value="1000" />
    <!-- Credential for iBankAPI service -->
    <add key="iBankAPIServiceUsername" value="bankware-full" />
    <add key="iBankAPIServicePassword" value="123456" />
    <!-- Print settings -->
    <add key="PrintedFilesPath" value="" />
    <!-- Leave it blank if you don't want to print -->
    <add key="KeepPrintedFiles" value="true" />
    <add key="PrinterName" value="\\192.168.76.10\HP LaserJet 1160" />
    <add key="PrintPollingTime" value="5" />
    <add key="PrintThreadCount" value="3" />
    <add key="PDFViewer" value="C:\Program Files\Foxit Software\Foxit Reader\FoxitReader.exe" />
    <!--Email settings-->
    <add key="BBS_MailServer" value="192.168.76.10" />
    <add key="BBS_MailPort" value="25" />
    <add key="BBS_MailUserName" value="" />
    <add key="BBS_MailPassword" value="" />
    <add key="BBS_MailRecipients" value="tan.nguyen@i-financial.asia" />
    <add key="BBS_MailSender" value="tan.nguyen@i-financial.asia" />
    <add key="UseExportLC" value="ifs.demo.com" />
    <add key="MessageTransformPath" value="C:\IFS\BWNET\TEST\SWIFT\IN" />
    <add key="UseMoveNonProcessedFile" value="false" />
    <add key="MoveNonProcessedFileExclude" value="700,707" />
  </appSettings>
  <connectionStrings>
    <add name="IFS.Bankware.DAL.ConnectionString" connectionString="Data Source=NN\SQL2008r2;Initial Catalog=BWTrunk_Card;Persist Security Info=True;User ID=sa;Password=123!@#" />
    <add name="IFS.AppsMngr.DAL.ConnectionString" connectionString="Data Source=NN\SQl2008r2;Initial Catalog=AppMgrTrunk_Card;Persist Security Info=True;User ID=sa;Password=123!@#" />
  </connectionStrings>
  <IFS.Bankware.DAL defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="SqlNetTiersProvider" type="IFS.Bankware.DAL.SqlClient.SqlNetTiersProvider, IFS.Bankware.DAL.SqlClient" connectionStringName="IFS.Bankware.DAL.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="IFS.Bankware.BLL.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30" />
      <!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/IFS.Bankware/IFS.BankwareServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="IFS.Bankware.DAL.WebServiceClient.WsNetTiersProvider, IFS.Bankware.DAL.WebServiceClient"
					url="/IFS.BankwareServices.asmx" />
			-->
    </providers>
  </IFS.Bankware.DAL>
  <IFS.AppsMngr.DAL defaultProvider="AppMngrSqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="AppMngrSqlNetTiersProvider" type="IFS.AppsMngr.DAL.SqlClient.SqlNetTiersProvider, IFS.AppsMngr.DAL.SqlClient" connectionStringName="IFS.AppsMngr.DAL.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="IFS.AppsMngr.BLL.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30" />
      <!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/IFS.Bankware/IFS.BankwareServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="IFS.Bankware.DAL.WebServiceClient.WsNetTiersProvider, IFS.Bankware.DAL.WebServiceClient"
					url="/IFS.BankwareServices.asmx" />
			-->
    </providers>
  </IFS.AppsMngr.DAL>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <BankwareAPIConfiguration>
    <webservices uri="" username="" password="">
      <add name="BankwareAPI" value="BankWareAPI.asmx" />
    </webservices>
  </BankwareAPIConfiguration>
  <applicationSettings>
    <IFS.Bankware.IBCHeartBeat.Properties.Settings>
      <setting name="IFS_Bankware_IBCHeartBeat_iBankAPI_iBankAPIService" serializeAs="String">
        <value>http://localhost/iBankapi/iBankAPIService.asmx</value>
      </setting>
    </IFS.Bankware.IBCHeartBeat.Properties.Settings>
  </applicationSettings>
</configuration>